.invest-container {
  height: 70vh;
  width: 100vw;
  padding: 1rem;
  box-sizing: border-box;
  scale: 0.97;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e9e7e7;
  overflow: hidden;
}

.invest-heading {
  font-size: 2.7rem;
  text-align: start;
  padding: 1rem;
}
.submi1{
  background-color: rgb(255, 106, 0);
  border: none;
  font-weight: 600;
  color: #fff;
  font-size: 1rem;
}
.invest-flags {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  width: 100%;
  height: 50%;
  margin-top: 5%;
}

.flag-container {
  width: 32%;
  height: 100%;
  perspective: 1000px;
  position: relative;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.flag-container:hover .card {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-back {
  transform: rotateY(180deg);
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
}

.invest-flag {
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.country-name {
  position: absolute;
  top: 50%;
  left: 50%;
  width: fit-content;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  z-index: 1;
}

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  
}

.contact-label {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
}

input, button {
  width: 100%;
  padding: 0.8rem;
  margin: 0.5rem 0;
}


.thank-you {
  color: #2ecc71;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

input:invalid {
  border: 2px solid #e74c3c;
}
@media (max-width: 768px) { 

  .invest-container{
    height: auto;
  }
  .invest-flags{
    flex-direction: column;
    width: 90vw;
    height: 95vh;
  }
 
  .contact-form{
    scale: 80%;
  }
  .flag-container{
    width: 100%;
  }
 
}
@media (max-height: 770px) and (min-height: 550px) {
 .card-front, .card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-back {
  transform: rotateY(180deg);
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
}
 .contact-label{
  margin-bottom: 0;
 }
 .contact-form input{
  margin: 1%;
 }
 .submi1{
  margin: 1%;
 }
}