:root {
  --text-black: #545151;
}

.mbbs-hero {
  width: 95%;
  border: 1px solid rgb(164, 163, 163);
  height: 75vh;
  padding: 5%;
  margin: 5% 2%;
  display: flex;
  background-color: #f1fbdf;
}

.mbbs-text {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #545151;
}

.mbbs-text h1 {
  font-size: 3rem;
}

.mbbs-text p {
  width: 85%;
  margin-top: 5%;
}

.mbbs-cards {
  padding: 1%;
  height: 100%;
  width: 65%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4%;
}

.mbbs-card {
  perspective: 1000px;
  width: 100%;
  cursor: pointer;
}

.mbbs-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1.5s ease;
  transform-style: preserve-3d;
}

.mbbs-card:hover .mbbs-card-inner {
  transform: rotateY(180deg);
}

.mbbs-card-front,
.mbbs-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 30px 20px;
}

.mbbs-card-front {
  background-color: var(--text-black);
  color: white;

}
.mbbs-card-front h2{
  margin-top: 25%;
}

.mbbs-card-back {
  background-color: white;
  color: var(--text-black);
  transform: rotateY(180deg);
  border: 1px solid black;
  box-sizing: border-box;
  overflow-y: auto;
}

.mbbs-card-back ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mbbs-card-back li {
  margin: 8px 0;
}

@media screen and (max-width: 768px) {
  .mbbs-hero {
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .mbbs-text {
    width: 100%;
    margin-bottom: 20px;
  }

  .mbbs-cards {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .mbbs-card {
    min-height: 220px;
  }
}
