:root {
  --text-black: #545151;
}

.visa-hero2 {
  width: 95%;
  border: 1px solid rgb(164, 163, 163);
  height: 75vh;
  padding: 5%;
  margin: 5% 2%;
  display: flex;
  background-color: rgb(204, 255, 255);
}

.visa-hero2text {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #545151;
}

.visa-hero2text h1 {
  font-size: 3rem;
}

.visa-hero2text p {
  width: 85%;
  margin-top: 5%;
}

.visa-threed {
  padding: 1%;
  height: 100%;
  width: 65%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4%;
}

.visa-cardvisa {
  perspective: 1000px;
  width: 100%;
  cursor: pointer;
}

.visa-cardvisa-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1.5s ease;
  transform-style: preserve-3d;
}

.visa-cardvisa:hover .visa-cardvisa-inner {
  transform: rotateY(180deg);
}

.visa-cardvisa-front,
.visa-cardvisa-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.visa-cardvisa-front {
  background-color: var(--text-black);
  color: white;
}

.visa-cardvisa-back {
  background-color: white;
  color: var(--text-black);
  transform: rotateY(180deg);
  border: 1px solid black;
  box-sizing: border-box;
  overflow-y: scroll;
}

.visa-cardvisa-back ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visa-cardvisa-back li {
  margin: 4px 0;
}

@media screen and (max-width: 768px) {
  .visa-hero2 {
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .visa-hero2text {
    width: 100%;
    margin-bottom: 20px;
  }

  .visa-threed {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .visa-cardvisa {
    min-height: 220px;
  }
}