*{
  margin: 0;
  padding: 0;
box-sizing: border-box;
list-style: none;
scrollbar-width: none;
font-family: sans-serif;
width: 100%;
  max-width: 100vw;
}
.total{
  scroll-behavior: smooth;
  background-color: #fffbfb;
}
a {
  scroll-behavior: smooth;
}